h1 {
  color: red;
  font-size: 58px;
}

h3 {
  color: green;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container {
  margin: auto;
  width: 50vw;
  border: 2px solid red;
  margin-bottom: 48px;
}

.form-container {
  margin: auto;
  width: 50vw;
  border: 2px solid red;
  margin-bottom: 48px;
}

.todo-list {
  margin-top: 60px;
}

.input {
  width: 100%;
  font-size: 48px !important;
}
